@tailwind base;
@tailwind components;
@tailwind utilities;

html[dir='rtl'] {
  font-family: Vazirmatn, system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, Arial, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

.container-r {
  margin-inline: auto;
  padding-inline: 1rem;
  max-width: 1200px;
}
